*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}


.main{
  /* position: relative; */
  /* height: 500px; */
  padding-right: 0;
  padding-left: 0;
  /* margin: 0; */
}

.tariffs-group-choose{
  margin-top: 50px;
}

.tariff-group-btn{
  margin: 15px 0px 15px 0px;
}

.btns{
  bottom: 5px;
  /* position: absolute; */
}

.nav-btn{
  margin: 0 15px 0 15px;
  width: 100px;
}


.margin-left-0{
  margin-left: 0;
}

.tariff-element{
  font-weight: 700;

  height: 50px;
}

#btn-back{
  width: 0px;
  display: none;
}

#btn-next{
  width: 200px;
  display: block;
}

.wifi-block{
  background-image: url("./assets//wifi-back.png");
}

.rost-btn{
  background-color: #7700ff;
  border-color: #7700ff;
}

.rost-btn:hover{
  background-color: #9235fc;
  border-color: #7700ff;
}


.tariffs-container{

}


#background{
    background: url('./assets/город.svg');
    height: 500px; 
    width: 1325px;
    z-index: -10;
    top: 150px;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animar_edificios 12s linear infinite;
    
    position: absolute;

}

@keyframes  animar_edificios {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}